// Import LESS colour variables AND theme variables from antd.
// To see the full list of colours: https://ant.design/docs/spec/colors#Base-Color-Palettes
@import '~antd/es/style/themes/default.less';


// Height, margins, etc.
@headerHeight: 64px;

// COLORS
@blackBlue: #00152a; // default colour of antd header. Keep in case we want to reuse this.

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}