// Import LESS colour variables AND theme variables from antd.
// To see the full list of colours: https://ant.design/docs/spec/colors#Base-Color-Palettes
@import '~antd/es/style/themes/default.less';

// import Google fonts as CSS; see https://stackoverflow.com/questions/22877017/how-to-use-google-font-in-less-css-any-other-solution-to-embedded-custom-font
@import (css)
    url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');

@headerHeight: 64px;

// TODO - flexboxes?
.header {
    background-color: black;
    width: 100%;
    padding-left: 30px;
    display: inline-block;
    .logo {
        color: white;
        font-family: 'Berkshire Swash';
        font-size: 250%;
        display: block;
        float: left;

        .home {
            height: 60px;

            &:focus,
            &:hover {
                text-decoration: underline;
            }
        }
    }

    nav > ul {
        list-style-type: none;
        float: left;
        margin-left: 50px;

        li {
            display: inline-block;
            text-align: center;

            a {
                color: white;

                &:focus,
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .toggle {
        position: relative;
        right: 27%;
        float: right;
        top: @headerHeight / 3; // FIXME - temporary workaround. This is to center the button.
    }

    .searchbar-header {
        width: 200px;
        // position: absolute;
        position: relative;
        right: 10%;
        float: right;
        // margin-top: auto;
        // margin-bottom: auto;
        top: @headerHeight / 3; // FIXME - temporary workaround. This is to center the button.
    }

    .languageUIToggle {
        position: absolute;
        font-weight: bold;
        right: 5%;
        top: @headerHeight / 4; // FIXME - temporary workaround. This is to center the button.
    }
}
