// Import LESS colour variables AND theme variables from antd.
// To see the full list of colours: https://ant.design/docs/spec/colors#Base-Color-Palettes
@import '~antd/es/style/themes/default.less';


.main {
    // TODO - do more research on screen size
    .titleHeader {
        margin-top: 1.2em;
        text-align: center;
        #title {
            font-weight: bold;
            letter-spacing: 0.1em;
            // text-transform:  uppercase; // only enable if we want to change the overall app logo
            font-size: 4em;
            margin-bottom: 0;
        }
        #slogan {
            font-style: italic;
            font-size: 1.4em;
            font-weight: normal;
            margin-bottom: 1.2em;
        }
    }
    .searchContainer {
        transform: translateX(25%);
        .dictionaryToggle {
            display: block;
            background-color: @geekblue-7;

            &:focus, &:hover {
                background-color: @geekblue-6;
                // border-width: 2px;
            }

        }
        .searchbar {
            width: 50%;
            display: block;
        }
    }
}